<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Производственный календарь</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a href="/">На главную страницу</a>

<div class="container mt-4">
    <h2>Производственный календарь</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Тип ID</th>
            <th>Тип текст</th>
            <th>Заметка</th>
            <th>День недели</th>
            <th>Рабочие часы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${productionCalendarRepositoryAll}">
            <td th:text="${#dates.format(el.date, 'dd.MM.yyyy')}"></td>
            <td th:text="${el.typeId}"></td>
            <td th:text="${el.typeText}"></td>
            <td th:text="${el.note}"></td>
            <td th:text="${el.weekDay}"></td>
            <td th:text="${el.workingHours}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
